
// Color palete
$color-white: #fff;
$color-gray1: #d4d4d4;
$color-primary: #243965;


// Semantic colors
$color-brand: $color-primary;
$color-divider: $color-gray1;

// Region colors
$color-bg-header: $color-white;