.contact {
    padding: 40px 0;

    &-content {
        @include g-grid; 
    }

    &-form {
        @include media(md-up) {
            grid-column: span 6;
        }

        @include media(sm) {
            grid-column: grid-start / grid-end;
        }
    }

    &-info {
        @include media(lg-up) {
            grid-column: 8 / 12;
        }

        @include media(md) {
            grid-column: 8 / grid-end;
        }

        @include media(sm) {
            grid-column: grid-start / grid-end;
        }
    }

    &-title {
        font-size: 32px;
        color: #29a587;
        font-weight: 700;
    }

    &-body {
        margin-bottom: 32px;
    }

    &-tiles {
        display: grid;
        gap: 16px;
    }
}