.services {
    padding: 40px 0;

    &-content {
        @include g-grid;
    }

    &-actions {
        padding: 32px 0 0;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        @include media(sm) {
            flex-direction: column;
        }
    }
}