.combo {
    width: 200px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.combo.disabled { 
    pointer-events: none;
}

.combo::after {
    border-bottom: 2px solid rgb(0 0 0 / 75%);
    border-right: 2px solid rgb(0 0 0 / 75%);
    content: "";
    display: block;
    height: 12px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -65%) rotate(45deg);
    width: 12px;
}

.combo-input {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    padding: 12px;
    text-align: left;
    width: 100%;

    img {
        margin-right: 12px;
    }
}

.open .combo-input {
    border-radius: 4px 4px 0 0;
}

.combo-label {
    display: block;
    font-weight: 100;
    margin-bottom: 0.25em;
    font-size: 1.2em;
}

.combo-menu {
    background-color: #fff;
    box-shadow: 0 -5px 20px 9px hsla(222, 47%, 14%, 0.06);
    border-top: 1px solid hsla(222, 47%, 14%, 0.1);
    border-radius: 0 0 4px 4px;
    display: none;
    max-height: 300px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.open .combo-menu {
    display: block;
}

.combo-option {
    padding: 10px 12px;

    img {
        margin-right: 12px;
    }
}

.combo-option:hover {
    background-color: rgba(172, 216, 170, 30%);
}

.combo-option.option-current {
    padding-right: 30px;
    position: relative;
}

.combo-option.option-current::after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    content: "";
    height: 16px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    width: 8px;
}
