.contact {
    grid-column: grid-start / grid-end;
    padding: 40px 0;
    display: grid;
    grid-template-columns: [grid-start] repeat(12, 1fr) [grid-end];
    grid-gap: 20px;
    align-items: center;

    &-form {
        grid-column: span 6;
    }

    &-info {
        grid-column: 8 / 12;
    }

    &-title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    &-body {
        margin-bottom: 32px;
    }

    &-tiles {
        display: grid;
        gap: 16px;
    }
}