.back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border: 1px solid $color-divider;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity visibility;
    transition-duration: 1s;
    color: $color-brand;

    &.m-show {
        visibility: visible;
        opacity: 1;
    }
}